<%= form_for(@transaksi_history) do |f| %>
  <% if @transaksi_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaksi_history.errors.count, "error") %> prohibited this transaksi_history from being saved:</h2>

      <ul>
      <% @transaksi_history.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :simpanan_history_id %><br>
    <%= f.text_field :simpanan_history_id %>
  </div>
  <div class="field">
    <%= f.label :penarikan_history_id %><br>
    <%= f.text_field :penarikan_history_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
