<%= form_for(@tipe_nasabah) do |f| %>
  <% if @tipe_nasabah.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tipe_nasabah.errors.count, "error") %> prohibited this tipe_nasabah from being saved:</h2>

      <ul>
      <% @tipe_nasabah.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ident_name %><br>
    <%= f.text_field :ident_name %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
