<p id="notice"><%= notice %></p>

<p>
  <strong>Ident name:</strong>
  <%= @tipe_nasabah.ident_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @tipe_nasabah.name %>
</p>

<%= link_to 'Edit', edit_tipe_nasabah_path(@tipe_nasabah) %> |
<%= link_to 'Back', tipe_nasabahs_path %>
