<p id="notice"><%= notice %></p>

<p>
  <strong>Ident name:</strong>
  <%= @tipe_simpanan.ident_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @tipe_simpanan.name %>
</p>

<%= link_to 'Edit', edit_tipe_simpanan_path(@tipe_simpanan) %> |
<%= link_to 'Back', tipe_simpanans_path %> |
<%= link_to 'New Tipe simpanan', new_tipe_simpanan_path %>


