<p id="notice"><%= notice %></p>

<h1>Listing Tipe Anggota</h1>

<table>
  <thead>
    <tr>
      <th>Ident name</th>
      <th>Name</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipe_anggota.each do |tipe_anggotum| %>
      <tr>
        <td><%= tipe_anggotum.ident_name %></td>
        <td><%= tipe_anggotum.name %></td>
        <td><%= tipe_anggotum.user %></td>
        <td><%= link_to 'Show', tipe_anggotum %></td>
        <td><%= link_to 'Edit', edit_tipe_anggotum_path(tipe_anggotum) %></td>
        <td><%= link_to 'Destroy', tipe_anggotum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tipe anggotum', new_tipe_anggotum_path %>
